.team-social-icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.team-social-icons .s-icon{
  font-size: 22px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.team-social-icons .s-icon:hover{
  color: #6D558A;
}

.team-img-container{
  position: relative;
  margin: -25px auto;
  box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 5.875rem;
  height: 5.875rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-img-container img{
  width: 5.875rem;
  height: 5.875rem;
  border-radius: 50%;
}